@CHARSET "UTF-8";

body,
div,
header,
h1,
button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}

body {
	background-color: steelblue;
}

#container {
	width: 1170px;
	height: 600px;
	margin: 10px auto;
	background-color: paleturquoise;
	border-radius: 5px;
}

header {
	border-radius: 5px 5px 0 0;
	background-color: turquoise;
}

h1 {
	padding: 5px;
	text-align: center;
}

#main {
	position: relative;
	width: 1050px;
	height: 550px;
	margin: 10px;
	float: left;
	background-image: url("../images/galaxy-background.jpg");
	border-radius: 5px;
	opacity: 0.5;
}

#spaceship {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 118px;
	height: 150px;
	background-image: url("../images/blue-spaceship.png");
}

#enemy {
	position: absolute;
	top: 0;
	left: 950px;
	width: 98px;
	height: 150px;
	background-image: url("../images/red-spaceship.png");
}

#fireball {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 72px;
	height: 72px;
	background-image: url("../images/fireball.png");
	visibility: hidden;
}

aside {
	width: 90px;
	height: 550px;
	margin: 10px 10px 10px 0;
	float: right;
}

#home,
#gameover {
	position: fixed;
	left: 350px;
	top: 200px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	background-color: turquoise;
}

#home {
	left: 300px;
	top: 200px;
}

#gameover {
	visibility: hidden;
	left: 530px;
	top: 200px;
}

#start,
#startover {
	padding: 5px;
	border-radius: 5px;
	background-color: steelblue;
}

#start:hover,
#startover:hover {
	color: white;
	background-color: royalblue;
}

aside div {
	border-radius: 5px;
	text-align: center;
	background-color: turquoise;
}

aside div p {
	margin: 5px;
	padding: 2px;